<% block('title', 'Permission'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= sails.__('Permission') %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard"><%= sails.__('Dashboard') %></a></li>
      <li class="breadcrumb-item"><a href="/admin/permission"><%= sails.__('Permission') %></a></li>
      <li class="breadcrumb-item active"><strong><%= sails.__('Create') %></strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5 class="mb-3"><%= sails.__('Permission') %></h5>
          <a href="/admin/permission" class="btn btn-info pull-right"><%= sails.__('Back') %></a>
        </div>

        <div class="ibox-content">
          <button class="btn btn-warning pull-right ml-1" id="btn-unSelectAll"><%= sails.__('Unselect All') %></button>
          <button class="btn btn-primary pull-right ml-1 btn-selectAll" id="btn-selectAll"><%= sails.__('Select All') %></button>
          <button
            class="btn btn-success pull-right mb-2"
            id="SavePermission"
            data-loading-text="<i class='fa fa-spinner fa-spin'></i> Loading..."
          >
          <%= sails.__('Save') %>
          </button>
          <div class="table-responsive">
            <table id="permissionDatatable" class="table table-striped table-bordered table-hover" style="width:100%">
              <thead>
                <tr>
                  <th><%= sails.__('Name') %></th>
                  <th><%= sails.__('Display Name') %></th>
                  <th><%= sails.__('Description') %></th>
                  <th><%= sails.__('Action') %></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th><%= sails.__('Name') %></th>
                  <th><%= sails.__('Display Name') %></th>
                  <th><%= sails.__('Description') %></th>
                  <th><%= sails.__('Action') %></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  let permissionData = [];
  $(document).ready(function() {
    ajaxCall();
    //Select All
    $("#SavePermission").button("loading");
    $(document).on("click", "#btn-selectAll", function(){
      $(".chk-activePermissions").iCheck("check");
    });

    //Unselect All
    $(document).on("click", "#btn-unSelectAll", function(event) {
      $(".chk-activePermissions").iCheck("uncheck");
    });

    //Save Permissions
    $(document).on("click", "#SavePermission", function(event) {
      var permisionActivations = [];
      $(".chk-activePermissions").each(function(index, el) {
        if (el.checked) {
          permisionActivations.push(el.value.trim());
        }
      });

      if (permisionActivations.length > 0) {
        $("#SavePermission").button("loading");
        $.ajax({
          type: "POST",
          url: "/admin/permission/create",
          dataType: "json",
          data: { names: permisionActivations },
          success: function(data) {
            $("#SavePermission").button("reset");
            toastrDisplay("success", "Permissions added successfully");
            ajaxCall();
          },
          error: function(xhr, status, error) {
            $("#SavePermission").button("reset");
            ajaxError(xhr, status, error);
          },
        });
      } else {
        toastrDisplay("error", "Please select permissions first");
      }
    });
    ajaxCall();
  });

  function ajaxCall() {
    $.ajax({
      url: "/admin/permission/index",
      type: "GET",
      dataType: "json",
      success: function(result) {
        permissionData = result;

        dataTableCall();
      },
    });
  }

  function dataTableCall() {
    var permissionTable = $("#permissionDatatable").DataTable({
      data: permissionData,
      responsive: true,
      searching: false,
      destroy: true,
      columns: [
        {
          data: "name",
          name: "Name",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "displayName",
          name: "Display Name",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "description",
          name: "Description",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: null,
          name: "Action",
          sortable: false,
          searchable: false,
          render: function(data) {
            return (
              "<input type='checkbox' class='i-checks chk-activePermissions' data-id='" +
              data.name +
              "' value='" +
              data.name +
              "'>"
            );
          },
        },
      ],
    });
  }

  $("#permissionDatatable").on("draw.dt", function() {
    turnOnIcheck();
  });

  function turnOnIcheck() {
    $(".i-checks").iCheck({
      handle: "checkbox",
      checkboxClass: "icheckbox_square-green",
    });
  }
</script>
