<% block('title', 'Edit Permission'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= sails.__('Permission') %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard"><%= sails.__('Dashboard') %></a></li>
      <li class="breadcrumb-item"><a href="/admin/permission"><%= sails.__('Permissions') %></a></li>
      <li class="breadcrumb-item active"><strong><%= sails.__('Edit') %></strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5 class="mb-3"><%= sails.__('Edit Permission') %> <small></small></h5>
          <a href="/admin/permission" class="btn btn-info pull-right"><%= sails.__('Back') %></a>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <form id="permissionForm" method="POST" action="/admin/permission/update/<%= permissionRecord.id %>">
                <%- include('form') %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
