<div class="form-group row">
  <label class="col-sm-2 col-form-label"><%= sails.__('Name') %></label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      name="name"
      value="<% if (permissionRecord.name) { %><%= permissionRecord.name %><% } %>"
      disabled
    />
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label"><%= sails.__('Display Name') %></label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      name="displayName"
      value="<% if (permissionRecord.displayName) { %><%= permissionRecord.displayName %><% } %>"
    />
  </div>
</div>

<!--
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Module Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        name="moduleName"
        value="<% if (permissionRecord.moduleName) { %><%= permissionRecord.moduleName %><% } %>"
      />
    </div>
  </div>
-->

<div class="form-group row">
  <label class="col-sm-2 col-form-label"><%= sails.__('Description') %></label>
  <div class="col-sm-10">
    <textarea
      type="text"
      class="form-control"
      name="description"
    ><% if (permissionRecord.description) { %><%= permissionRecord.description %><% } %></textarea>
  </div>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group row">
  <div class="col-sm-4 col-sm-offset-2">
    <a href="/admin/permission" class="btn btn-danger "><%= sails.__('Cancel') %></a>
    <button class="btn btn-primary " type="submit"><%= sails.__('Save') %></button>
  </div>
</div>

<% if(req.session.flash) { %>
<script type="text/javascript">
  $(document).ready(function() {
    toastrDisplay("<%= req.session.flash.type %>", "<%= req.session.flash.message %>");
  });
</script>
<% req.session.flash = {}; %> <% }%>
<script type="text/javascript">
  $(document).ready(function() {
    var validator = $("#permissionForm").validate({
      rules: {
        displayName: { required: true },
        description: { required: true },
      },
      messages: {
        displayName: { required: "DisplayName is required" },
        description: { required: "Description is required" },
      },
    });
  });
</script>
