<% block('title', 'Permission'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= sails.__('Permission') %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard"><%= sails.__('Dashboard') %></a></li>
      <li class="breadcrumb-item active"><strong><%= sails.__('Permission') %></strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5 class="mb-3"><%= sails.__('Permission') %></h5>
          <a href="/admin/permission/create" class="btn btn-info pull-right"><%= sails.__('Add') %></a>
        </div>

        <div class="ibox-content">
          <div class="table-responsive">
            <table id="permissionDatatable" class="table table-striped table-bordered table-hover" style="width:100%">
              <thead>
                <tr>
                  <th><%= sails.__('Name') %></th>
                  <th><%= sails.__('Display Name') %></th>
                  <th><%= sails.__('Description') %></th>
                  <th><%= sails.__('Action') %></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th><%= sails.__('Name') %></th>
                  <th><%= sails.__('Display Name') %></th>
                  <th><%= sails.__('Description') %></th>
                  <th><%= sails.__('Action') %></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if(req.session.flash) { %>
<script type="text/javascript">
  $(document).ready(function() {
    toastrDisplay("<%= req.session.flash.type %>", "<%= req.session.flash.message %>");
  });
</script>
<% req.session.flash = {}; %> <% }%>

<script type="text/javascript">
  $(document).ready(function() {
    var permissionTable = $("#permissionDatatable").DataTable({
      processing: true,
      serverSide: true,
      responsive: true,
      stateSave: true,
      ajax: "/admin/permission/datatable",
      columns: [
        {
          data: "name",
          name: "name",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "displayName",
          name: "displayName",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "description",
          name: "description",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: null,

          sortable: false,
          searchable: false,
          render: function(data) {
            return (
              "<a href='/admin/permission/edit/" +
              data.id +
              "' class='btn btn-primary btn-sm'><i class='fa fa-edit'></i></a>"
            );
          },
        },
      ],
    });

    $(document).on("click", ".remove", function() {
      var id = $(this).attr("id");
      var url = "/admin/permission/" + id;

      deleteRecordByAjax(url, "Permission", permissionTable);
    });
  });
</script>
