
<!DOCTYPE html>
<html>
    <head>
        <title> <%=blocks.title%> - Sails Admin</title>
        <%- include ("../includes/cssfiles") %>

        <!-- temporary -->
        <%- include ("../includes/jsfiles") %>
    </head>
    <body class="no-skin-config full-height-layout">
        <div id="wrapper">
            <%- include ("../includes/sidenav") %>
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <%- include ("../includes/topnav") %>
                <%- body %>
                <%- include ("../includes/footer") %>
            </div>
        </div>

        <%=blocks.scripts%>
        <script type="text/javascript">
          function toastrDisplay(type, msg) {
            toastr.options = {
              closeButton: true,
              progressBar: true,
              showMethod: "slideDown",
              timeOut: 7000,
            };
            if (type == "success") toastr.success(msg);
            else if (type == "error") toastr.error(msg);
          }

          function deleteRecordByAjax(deleteUrl, moduleName, tableName) {
            swal({
            title: "Are you sure?",
            text: `You will not be able to recover this ${moduleName}!`,
            icon: "warning",
            buttons: [true, "Yes, delete it!"],
            dangerMode: true,
            }).then((willDelete) => {
              if (willDelete) {
                axios.delete(deleteUrl).then((data) => {
                  if (data.status == 200) {
                    tableName.draw();
                    toastr.success(data.data.message);
                  } else {
                    toastr.error(data.data.message);
                  }
                }).catch((error) => {
                    toastr.error(data.data.message);
                });
              }
            })
          }

          function ajaxError(xhr, status, error) {
            if (xhr.status == 401) {
              toastrDisplay("error", "You are not logged in. please login and try again");
            } else if (xhr.status == 403) {
              toastrDisplay("You have not permission for perform this operations");
            } else if (xhr.responseJSON && xhr.responseJSON.message != "") {
              toastrDisplay("error", xhr.responseJSON.message);
            } else {
              toastrDisplay("error", "Something went wrong , Please try again later.");
            }
          }
        </script>
    </body>
</html>
