<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet" />
<script src="https://unpkg.com/cropperjs"></script>
<style>
  .image_area {
    position: relative;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .img-circle {
    height: 300px;
    width: 300px;
    margin: 50px 5px 5px 10px;
    border-radius: 5px;
  }

  .preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
  }

  .modal-lg {
    max-width: 1000px !important;
  }

  .overlay {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    height: 0;
    transition: 0.5s ease;
    width: 150px;
    margin-left: 34px;
  }

  .image_area:hover .overlay {
    height: 20%;
    cursor: pointer;
  }

  .text {
    color: #333;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
</style>


<script>
  $(document).ready(function () {
    var $modal = $("#modal");

    var image = document.getElementById("sample_image");
    $("#upload").attr('disabled', 'disabled');
    var cropper;

    $("#upload_image").change(function (event) {
      var files = event.target.files;

      var done = function (url) {
        image.src = url;
        $modal.modal("show");
      };

      if (files && files.length > 0) {
        reader = new FileReader();
        reader.onload = function (event) {
          done(reader.result);
        };
        reader.readAsDataURL(files[0]);
      }
    });

    $modal
      .on("shown.bs.modal", function () {
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 3,
          preview: ".preview",
        });
      })
      .on("hidden.bs.modal", function () {
        cropper.destroy();
        cropper = null;
      });

    $("#crop").click(function () {
      canvas = cropper.getCroppedCanvas({
        width: 400,
        height: 400,
      });
      canvas.toBlob(function (blob) {
        url = URL.createObjectURL(blob);
        var reader = new FileReader();
        reader.readAsDataURL(blob);
        reader.onloadend = function () {
          var base64data = reader.result;
          function getBase64Img() {
            return base64data;
          }
          var base64img = getBase64Img();
          function Base64ToImage(base64img, callback) {
              var img = new Image();
              img.onload = function() {
                  callback(img);
              };
              img.src = base64img;
              img.id = 'uploaded_image';
          }
          Base64ToImage(base64img, function(img) {
              document.getElementById('upload_image').appendChild(img);
          });
          $modal.modal("hide");
        };
      });
    });
  });
</script>
<% if (userRecord && userRecord.id) { %>
    <form id="userForm" method="POST" action="/admin/user/update/<%= userRecord.id %>">
<% } else { %>
    <form id="userForm" method="POST" action="/admin/user/create">
<% } %>
<div class="row">
  <div class="col-lg-6">

        <div class="form-group row">

            <label class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="firstName" value="<% if (userRecord.firstName) { %><%= userRecord.firstName %><% } %>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="lastName" value="<% if (userRecord.lastName) { %><%= userRecord.lastName %><% } %>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="email" value="<% if (userRecord.email) { %><%= userRecord.email %><% } %>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" value="" required>
                <!-- <input type="password" class="form-control" name="password" value="<% if (userRecord.password) { %><%= userRecord.password %><% } %>"> -->
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
                <a href="/admin/users" class="btn btn-white btn-sm">Cancel</a>
                <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
            </div>
        </div>
    </form>
  </div>
  <div class="col-lg-6">

    <div class="container">
      <!-- <h3>Crop Image with cropperjs & Upload with Ajax PHP</h3> -->
      <br />
      <div class="row" style="padding: 10px">
        <div class="col-md-3">
          <div class="image_area">
            <form method="post" id="upload_image">
              <input type="file" name="image" class="image" id="upload_image" />
              <label for="upload_image">
                <h3 id="image_name"></h3>
              </label>

            </form>
          </div>
        </div>
        <br />
      </div>
    </div>
    <div
      class="modal fade"
      id="modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Crop Image Before Upload</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <div class="row">
                <div class="col-md-8">
                  <img src="" id="sample_image" />
                </div>
                <div class="col-md-4">
                  <div class="preview"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="crop" class="btn btn-primary">Crop</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
