<% block('title', 'Users'); %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Users</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/admin/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Users</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Users</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a href="/admin/user/create">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <div class="table-responsive">
            <table
              id="userDatatable"
              class="table table-striped table-bordered table-hover"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <!-- <th>Id</th> -->
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <!-- <th>Id</th> -->
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    //   console.log("$ found ", $);
    var userTable = $("#userDatatable").DataTable({
      processing: true,
      serverSide: true,
      responsive: true,
      ajax: "/admin/user/index",
      columns: [
        // {
        //     data: 'id',
        //     name: 'Id',
        //     sortable: false,
        //     searchable: false,
        //     defaultContent: '<i>PENDING</i>'
        // },
        {
          data: "firstName",
          name: "First Name",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "lastName",
          name: "Last Name",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: "email",
          name: "Email",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: null,
          name: "Action",
          sortable: false,
          searchable: false,
          render: function (data) {
            return (
              "<a href='/admin/user/edit/" +
              data.id +
              "'><i class='fa fa-edit'></i></a> <span id=" +
              data.id +
              " class='user_remove'><i class='fa fa-trash'></i></span>"
            );
          },
        },
      ],
    });

        $(document).on('click', '.user_remove', function () {
            var id = $(this).attr('id');
            var url = '/admin/user/' + id;
            deleteRecordByAjax(url, "User", userTable);
        });

    });
</script>
<% if(req.session.flash) { %>
<script type="text/javascript">
  $(document).ready(function () {
    toastrDisplay(
      "<%= req.session.flash.type %>",
      "<%= req.session.flash.message %>"
    );
  });
</script>
<% req.session.flash = {}; %> <% }%> <%- /* Expose locals as
`window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
