<% if (roleRecord && roleRecord.id) { %>
    <form id="userForm" method="POST" action="/admin/role/update/<%= roleRecord.id %>">
<% } else { %>
    <form id="userForm" method="POST" action="/admin/role/create">
<% } %>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="<% if (roleRecord.name) { %><%= roleRecord.name %><% } %>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Display Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="displayName" value="<% if (roleRecord.displayName) { %><%= roleRecord.displayName %><% } %>" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" value="<% if (roleRecord.description) { %><%= roleRecord.description %><% } %>" required>
            </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-2">
                <a href="/admin/role" class="btn btn-white btn-sm">Cancel</a>
                <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
            </div>
        </div>
    </form>
