<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
.leftside {
    float: left;
}

.insert {
    margin: 15px 0px 15px 0;
}

.insert input {
    width: 500px;
    height: 25px;
    margin-right: 40px;
    font-size: 18px;
    font-weight: bolder;

}

.addbtn {
    background-color: #21B6A8;
    border: 1px solid #21B6A8;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    color: white;
    font-size: 20px;
}

.savebtn:focus {
    background-color: #21B6A8;
    border: 1px solid #21B6A8;
    border-radius: 4px;
}

.minbtn {
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    color: white;
    font-size: 20px;
}

.rightside {
    float: left;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.actionbtn {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.actionbtn button {
    width: 125px;
    height: 32px;
    margin-right: 15px;
}
</style>
<div class="leftside">
    <form action="/member/create" method="POST" enctype="multipart/form-data">
        <h3>Add New Members</h3>
        <div class="level1">
            <div class="insert" id="main">
                <label for="member">First Name</label>&nbsp;
                <input type="text" name="firstName[]" class="data" required>
                <label for="percen">Last Name</label>&nbsp;
                <input type="text" name="lastName[]" class="data" required>
                <br>
                <label for="percen">Email</label>&nbsp;
                <input type="email" name="email[]" class="data" required>
                <label for="percen">Password</label>&nbsp;
                <input type="password" name="password[]" class="data" required>
            </div>
        </div>
        <div class="displayinsert"></div>
        <div class="actionbtn">
            <button type="submit" id="subbtn" class="savebtn">Save</button>
            <button type="reset" name="resetbtn" class="cancelbtn">Cancel</button>
        </div>
    </form>

</div>
<div class="rightside">
    <button type="button" class="addbtn" id="addbtn">+</button>
</div>
<script>
$(document).ready(function() {
    let optionCount = 1;
    $("#addbtn").click(function() {
        $("#main").clone(true).appendTo(".displayinsert");
        var emptyinput = $(".displayinsert").find("input");
        console.log('emptyinput', emptyinput);
        $(".displayinsert").find('input[name="name[0]"]').attr('name','name['+optionCount+']');
        $(".displayinsert").find('input[name="email[0]"]').attr('name','email['+optionCount+']');
        optionCount += 1;
    })

    $(".minbtn").click(function(e) {
        $(this).closest(".insert").remove();
        var decrease = $(this).parent('.insert').find('.insertedId');
        var del = decrease.val();
        $(".cancel").val(del);
        e.preventDefault();
    })
})
</script>