<!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

<!--Admin STYLES-->
<link rel="stylesheet" href="/admin/css/importer.css">
<link rel="stylesheet" href="/admin/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/admin/plugins/iCheck/custom.css">
<link rel="stylesheet" href="/admin/plugins/select2/select2-bootstrap.css">
<link rel="stylesheet" href="/admin/plugins/select2/select2.min.css">
<link rel="stylesheet" href="/admin/plugins/sweetalert2/ajaxSweetalert2.min.css">
<link rel="stylesheet" href="/admin/plugins/sweetalert2/sweetalert2.min.css">
<link rel="stylesheet" href="/admin/plugins/toastr/toastr.min.css">
<!--Admin STYLES END-->

<!--1STYLES-->
<!--1STYLES END-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />