<!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

<!--Admin SCRIPTS-->
<script src="/admin/js/jquery-3.1.1.min.js"></script>
<script src="/admin/js/jquery.metisMenu.js"></script>
<script src="/admin/js/jquery.slimscroll.js"></script>
<script src="/admin/js/pace.min.js"></script>
<script src="/admin/js/popper.min.js"></script>
<script src="/admin/js/bootstrap.js"></script>
<script src="/admin/js/inspinia.js"></script>
<script src="/admin/js/axios.js"></script>
<script src="/admin/plugins/validate/jquery.validate.min.js"></script>
<script src="/admin/plugins/toastr/toastr.min.js"></script>
<script src="/admin/plugins/sweetalert2/sweetalert2.min.js"></script>
<script src="/admin/plugins/iCheck/icheck.min.js"></script>
<script src="/admin/plugins/select2/select2.full.min.js"></script>
<!--Admin SCRIPTS END-->

<!--1SCRIPTS-->
<!--1SCRIPTS END-->


<script src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>