<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div id="login">
    <div class="container">
      <h1 class="text-center">Login page</h1>
      <div class="login-form-container">
        <hr/>
        <form method="post" action="/api/v1/entrance/login">
          <div class="form-group">
            <input type="email" class="form-control" name="email" autofocus placeholder="Email Address">
            <!-- <div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div> -->
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <!-- <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div> -->
          </div>
          <div class="form-group">
            <input type="checkbox" id="remember" name="rememberMe" />
            <label for="remember">Remember Me</label>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn-dark btn-lg btn-block text-center">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
