<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div id="register">
    <div class="container">
        <h1 class="text-center">Register your account</h1>
        <div class="register-form-container">
            <hr/>
            <form action="/api/v1/entrance/signup" method="post">
                <div class="form-group">
                    <label for="full-name">Frist name</label>
                    <input class="form-control" id="full-name" name="firstName" autofocus type="text"  placeholder="">
                    <div class="invalid-feedback">Please enter your full name.</div>
                  </div>
                <div class="form-group">
                    <label for="full-name">Last Name</label>
                    <input class="form-control" id="full-name" name="lastName" autofocus type="text"  placeholder="">
                    <div class="invalid-feedback">Please enter your full name.</div>
                  </div>
                  <div class="form-group">
                    <label for="email-address">Email address</label>
                    <input class="form-control" id="email-address" name="email" type="email"  placeholder="">
                    <div class="invalid-feedback">Please enter a valid email address.</div>
                  </div>
                  <div class="form-group">
                    <label for="password">Choose a password</label>
                    <input class="form-control" id="password" name="password" type="password" placeholder="••••••••">
                    <div class="invalid-feedback" >Please enter a password.</div>
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">Confirm password</label>
                    <input class="form-control" id="confirm-password" type="password" placeholder="••••••••">
                    <div class="invalid-feedback">Your password and confirmation do not match.</div>
                  </div>
                  <div class="form-group text-center">
                    <button type="submit" class="btn-dark btn-lg btn-block text-center">Create account</button>
                  </div>
                </form>
                <p class="text-center">Have an account? <a href="/login">Sign in</a></p>
            </form>
        </div>
    </div>
</div>