<% block('title', 'Role Permission'); %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= sails.__('Role Permission') %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard"><%= sails.__('Dashboard') %></a></li>
      <li class="breadcrumb-item"><a href="/admin/role-permission"><%= sails.__('Role Permission') %></a></li>
      <li class="breadcrumb-item active"><strong><%= sails.__('Edit') %></strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <h5 class="mb-3"><strong><%= sails.__('Role Permission') %> </strong></h5>
          <a href="/admin/role-permission" class="btn btn-info pull-right"><%= sails.__('Back') %></a>
        </div>
        <div class="ibox-content">
          <div class="row"><div class="col-sm-12"></div></div>
          <!--
            <div class="row">
            <div class="col-md-12">
          -->
          <form
            id="userForm"
            class="form-horizontal pt-20"
            method="POST"
            action="/admin/role-permission/update/<%= roleRecord.id %>"
          >
            <%- include('form') %>
          </form>
          <!--
            </div>
            </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
