<div class="form-group row text-center pt-10">
  <label class="col-md-2 pt-2"><%= sails.__('Role Name') %></label>
  <div class="col-md-7"><span class="form-control"><%=roleRecord.name %></span></div>
  <div class="col-md-3">
    <button type="button" class="btn btn-warning pull-right ml-1" id="btn-unSelectAll"><%= sails.__('Unselect All') %></button>
    <button type="button" class="btn btn-primary pull-right ml-1" id="btn-selectAll"><%= sails.__('Select All') %></button>
  </div>
</div>
<div class="form-group row">
  <% _.each(permissionRecord, function (permission) { %>
  <div class="alert alert-info col-md-12" style="margin-top:20px" role="alert">
    <input
      type="checkbox"
      class="i-checks select_module chk-header <%=permission.moduleName %> parent-<%=permission.moduleName %>"
      data-chk="<%=permission.moduleName %>"
      name=""
      type="checkbox"
    />
    <h4 class="ml-2" style="display:inline-block"><%=permission.moduleName %></h4>
  </div>
  <% _.each(permission.moduleData, function (module) { %>
  <div class="col-md-3 mt-4">
    <input type="checkbox" class="i-checks chk-activePermissions <%=module.moduleName %> data-<%=module.moduleName %>"
    name="permission[]" value="<%= module.id %>" <%= permissionResult.includes(module.id) ? "checked" : "" %> />

    <label class="ml-2"><%=module.name %> </label>
    <div class="help-block">(<%= module.description %>)</div>
  </div>
  <% }) %> <% }) %>
</div>

<div class="hr-line-dashed"></div>
<div class="form-group row">
  <div class="col-sm-4 col-sm-offset-2">
    <a href="/admin/role-permission" class="btn btn-danger "><%= sails.__('Cancel') %></a>
    <button class="btn btn-primary " type="submit"><%= sails.__('Save') %></button>
  </div>
</div>

<% if(req.session.flash) { %>
<script type="text/javascript">
  $(document).ready(function() {
    toastrDisplay("<%= req.session.flash.type %>", "<%= req.session.flash.message %>");
  });
</script>
<% req.session.flash = {}; %> <% } %>
<script type="text/javascript">
  $(document).ready(function() {
    $(".i-checks").iCheck({
      checkboxClass: "icheckbox_square-green",
      radioClass: "iradio_square-green",
    });

    //SELECT All
    $(document).on("click", "#btn-selectAll", function(event) {
      $(".chk-activePermissions").iCheck("check");
      $(".select_module").iCheck("check");
    });

    //Unselect All
    $(document).on("click", "#btn-unSelectAll", function(event) {
      $(".chk-activePermissions").iCheck("uncheck");
      $(".select_module").iCheck("uncheck");
    });

    //toogle checkbox for module
    $(".select_module").on("ifToggled", function(event) {
      var module = $(this).data("chk");
      if ($(this).is(":checked")) {
        $("." + module).iCheck("check");
      } else {
        $("." + module).iCheck("uncheck");
      }
    });
    $(".select_module").each(function(index) {
      let allckedbox = $(".data-" + $(this).data("chk")).length;
      let checkedbox = $(".data-" + $(this).data("chk") + ":checked").length;
      if (allckedbox == checkedbox) $(".parent-" + $(this).data("chk")).iCheck("check");
    });
  });
</script>
