<% block('title', 'Role Permission'); %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= sails.__('Role Permission') %></h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard"><%= sails.__('Dashboard') %></a></li>
      <li class="breadcrumb-item active"><strong><%= sails.__('Role Permission') %></strong></li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= sails.__('Role Permission') %></h5>
        </div>

        <div class="ibox-content">
          <div class="table-responsive">
            <table id="roleDatatable" class="table table-striped table-bordered table-hover" style="width:100%">
              <thead>
                <tr>
                  <th><%= sails.__('Role Name') %></th>
                  <th><%= sails.__('Permission Name') %></th>
                  <th><%= sails.__('Action') %></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th><%= sails.__('Role Name') %></th>
                  <th><%= sails.__('Permission Name') %></th>
                  <th><%= sails.__('Action') %></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(req.session.flash) { %>
<script type="text/javascript">
  $(document).ready(function() {
    toastrDisplay("<%= req.session.flash.type %>", "<%= req.session.flash.message %>");
  });
</script>
<% req.session.flash = {}; %> <% }%>

<script type="text/javascript">
  $(document).ready(function() {
    var ignoreRole = "<%= sails.config.custom.ignoreRole %>";
    ignoreRole = ignoreRole.split(",");

    var roleTable = $("#roleDatatable").DataTable({
      processing: true,
      serverSide: true,
      responsive: true,
      stateSave: true,
      ajax: "/admin/role-permission/datatable",
      columns: [
        {
          data: "name",
          name: "Name",
          defaultContent: "<i>Not Set</i>",
        },
        {
          data: null,
          searchable: false,
          sortable: false,
          name: "Permission Name",
          render: function(data) {
            console.log("data: " + data.permissions);
            if (data.name == "super_admin") return "All";
            else return data.permissions.map(e => e.displayName).join(",");
          },
        },
        {
          data: null,
          sortable: false,
          searchable: false,
          render: function(data) {
            if (!ignoreRole.includes(data.name))
              return (
                "<a href='/admin/role-permission/edit/" +
                data.id +
                "' class='btn btn-primary btn-sm'><i class='fa fa-edit'></i></a>"
              );
            else return "";
          },
        },
      ],
    });
  });
</script>
